{% extends 'base.html' %}

{% block content %}


{% load widget_tweaks %}

<!--Include Navbar-->
{% include 'shared/blog_nav.html' %}

<!--Div Container-->
<div class = "w-full flex flex-col items-center mt-32">
    <form method = "POST" class = "flex flex-col gap-8 w-2/3">
        {% csrf_token %}
        <!--Main container-->
            <h class = "text-sky-950 font-bold text-3xl">Log In</h>
            <!--Enter username-->
            {% render_field form.username class="border-gray-300 border-2 rounded-lg w-full py-4 bg-slate-100 text-gray-600 focus:outline-none focus:shadow-outline" placeholder="Username" %}

            <!--Enter Password-->
            {% render_field form.password class="border-gray-300 border-2 rounded-lg w-full py-4 bg-slate-100 text-gray-600 focus:outline-none focus:shadow-outline" placeholder="Password" %}

            <!--Errors-->
            {% if form.errors %}
                {{ form.non_field_errors }}
            {% endif %}


            <!--Submit Button-->
            <button type="submit" class="active:scale-95 w-full h-16 rounded-lg border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 transition-all text-lg">
                Log In
            </button>
    </form>
</div>


{% endblock content %}