{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,500&family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,600;1,500&family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Explorer Ali</title>

        <!--Bootstrap Icons-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

        <!--Alpine JS CDN-->
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>   

        <!--HTMX CDN-->
        <script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>

   
		{% tailwind_css %}

    </head>

    <body class = "font-nunito">

        {% if messages %}
          {% for message in messages %}
            <!--Div for Error message-->
            {% if message.tags == "error" %}
            <div id = "alert-div" class = "w-full h-16 bg-red-500 text-white text-xl p-4 flex flex-row justify-between align-middle">
              <p>{{ message }}</p>
                <span onclick = "hideDiv()" class="text-white text-xl hover:cursor-pointer mr-2"><i class="bi-x-lg"></i></span>
              </div>
            {% else %}
              <!--Div for Success message-->
              <div id = "alert-div" class = "w-full h-16 bg-teal-500 text-white text-xl p-4 flex flex-row justify-between align-middle">
                <p>{{ message }}</p>
                <span onclick = "hideDiv()" class="text-white text-xl hover:cursor-pointer mr-2"><i class="bi-x-lg"></i></span>
              </div>   
            {% endif %}

          {% endfor %}
        {% endif %}


        {% block content %} {% endblock %}

  </body>

  <script>
    function hideDiv(){
      let alert_div = document.getElementById("alert-div");
      alert_div.parentNode.removeChild(alert_div);
    }

  </script>


</html>