{% extends 'base.html' %}

{% block content %}

{% load static %} 

{% load widget_tweaks %}

<!--Include Navbar-->
{% include 'shared/blog_nav.html' %}

<!--Div container-->
<div class="w-full min-h-screen flex flex-col justify-between items-center bg-slate-200">
    <!--Div with back arrow on left-->
    <div class = "flex flex-row w-full h-16">
        <a href = "{% url 'blog' %}" class = "cursor-pointer text-lg m-8 active:scale-95 text-blue-950 hover:text-gray-500">
            <i class = "bi bi-arrow-left"></i>
            Back to Blog Home
        </a>
    </div>

    <!--Div with story page-->
    <div class = "flex flex-col w-[90%] md:w-2/3 h-auto bg-white rounded-lg border border-gray-300 mt-4">
        <!--Story page contents-->
        <div class = "flex flex-col gap-6 break-words p-8 m-4">
            <!--Title-->
            <h1 class = "text-4xl text-blue-950 font-extrabold">{{ blog_story.title }}</h1>
            <!--Description-->
            <p class = "text-2xl text-blue-950">{{ blog_story.caption }}</p>
            <!--Image-->
            <div class = "w-full h-64 rounded-lg overflow-hidden">
                <img src="{% static 'blog_covers/' %}{{ blog_story.imageUrl }}" class="w-full h-full object-cover">
            </div>

            <!--Div with Like Count, Date, and Time to read-->
            <div class = "w-full h-8 flex flex-row justify-between">
                <!--Likes-->
                <div class = "flex flex-row gap-2 text-gray-400 text-xl">
                    <i class="bi bi-heart"></i>
                    <p>{{blog_story.likes}}</p>
                </div>

                <div class = "flex flex-row gap-1 md:gap-2 mt-2 md:mt-0 text-gray-400 text-xs md:text-sm">
                    <p>{{ blog_story.created_date|date:"F j, o" }}</p>
                    <p>•</p>
                    <p>5 min read</p>
                </div>
            </div>

            <!--Story Start Line Break-->
            <hr>
            <!--Story Contents Here-->
            <p class = "indent-8">{{blog_story.story}}</p>

            <!--Buttons to Edit and Delete - only visible to admin-->
            {% if user.is_authenticated %}
                <div class = "w-full h-12 flex flex-row justify-between mt-16">
                    <a href = "{% url 'blog_edit' story_name=blog_story.title %}" class="w-16 h-10 rounded-lg bg-blue-500 hover:bg-blue-600 active:scale-95 text-white flex flex-row justify-center items-center">
                        Edit
                    </a>

                <!--Space For another button on right here-->

                </div>
            {% endif %} 

            <!--Story Line Break here-->
            <hr>

            <!--Comment Section-->
            <div class = "flex flex-col">

            </div>

        </div>
    </div>  

    <br><br><br>

    {% include 'shared/footer.html' %}

</div>



{% endblock content %}